.status {
    display: flex;
    flex-direction: column;
    border: 2px solid #E63E62;
    padding: 10px;
    background-color: #282828;
    transition: ease-in-out 0.3s;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    justify-content: center;
}

.status:hover {
    background-color: #444444;
    cursor: pointer;
    border-color: #4BBFF8;
}

.user {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    background-color: #666666;
    border-radius: 1rem;
    padding: 0.5rem;
    transition: ease-in-out 0.3s;
}

.user:hover {
    background-color: #A3A3A3;
    cursor: pointer;
    border-color: #4BBFF8;
    img {
        border: 2px solid #4BBFF8;
    }
}

.user a {
    display: flex;
    flex-direction: row;  
    align-items: center;
}

.user img {
    margin-right: 10px;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
}

.user a:hover .userName {
    text-decoration: underline;
}

.usersNames {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Teko';
}

.userName {
    font-size: 2.5rem;
    vertical-align: middle;
    margin-bottom: 0.5rem
}

.userScreenName {
    font-size: 2rem;
    color: rgb(184, 184, 184);
    vertical-align: middle;
}

.statusText {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Roboto'
}

.createdAtDate {
    margin-bottom: 10px;
    color: rgb(184, 184, 184);
    font-family: 'Roboto'
}

.statusActivity {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
}

.statusActivity i {
    margin: 0 5px;
    display: flex;
    flex-direction: row;
}

.statusActivity i p {
    font-family: 'Teko';
    margin-left: 3px;
}