.userFilter {
    display: flex;
    flex-direction: row;
}

.filterItem {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 15px;
    margin: 0 10px;
}

.filterItem span {
    color: red;
}

.filterItem span:hover {
    cursor: pointer;
    color: darkred;
}